# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/

# my custom folders
pypache/
logs/

# OS or Editor temp files
*.swp
*.swo
*.DS_Store